body {
  background: #117a8b;
}
.app-container {
  
  max-width: 50%;
  margin: 60px auto;

}

.jumbotron {
  padding: 2rem 2rem;
}

h3 {
  color: #538cb5;
}
input {
  margin: 20px 0;
}

.invalidInput{
  color:red!important;
}

.fa-bug{
  color:silver;
}

.jumbotron{
  -webkit-box-shadow: 8px 9px 39px -19px rgba(0,0,0,0.75);
-moz-box-shadow: 8px 9px 39px -19px rgba(0,0,0,0.75);
box-shadow: 8px 9px 39px -19px rgba(0,0,0,0.75);
}

.tbody {
  height: 40vh !important;
  overflow-y: auto;	
}
   
.my-tbody {
  min-height:40vh;
  display:block;
  overflow-y: auto;	
  width:100%;
}

.search-field-row .flex-1 {
  flex:1;
}
